<div class="navbar">
    <div class="container-navbar">
        <nav class="navbar-left">
            <ul class="menu">
                <li>
                    <a href="../../"><img src="http://7xozg6.com1.z0.glb.clouddn.com/home.png"> Keysona</a>
                </li>
                <li>
                    <a href="/tags/project"><img src="http://7xozg6.com1.z0.glb.clouddn.com/project.png"/> Projects</a>
                    <ul class="sub-menu" style="">
                        <li>
                            <a href="#">
                                <img src="http://7xozg6.com1.z0.glb.clouddn.com/tag.png"/> Link 1
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="http://7xozg6.com1.z0.glb.clouddn.com/tag.png"/> Link 2
                            </a>
                        </li>
                        <li>
                           <a href="#">
                                <img src="http://7xozg6.com1.z0.glb.clouddn.com/tag.png"/> Link 3
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/tags/python">
                        <img src="http://7xozg6.com1.z0.glb.clouddn.com/python.png"> Python
                    </a>
                </li>
                <li>
                    <a href="/tags/ubuntu">
                        <img src="http://7xozg6.com1.z0.glb.clouddn.com/ubuntu.png"> Ubuntu
                    </a>
                </li>
                <li>
                    <a href="/tags/algorithm">
                        <img src="http://7xozg6.com1.z0.glb.clouddn.com/algorithm.png"> Algorightm
                    </a>
                </li>
                <li>
                    <a href="/tags">
                        <img src="http://7xozg6.com1.z0.glb.clouddn.com/tags.png"/> Tags
                    </a>
                    <ul class="sub-menu" style="">
                        <li>
                            <a href="#">
                                <img src="http://7xozg6.com1.z0.glb.clouddn.com/tag.png"/> Link 1
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="http://7xozg6.com1.z0.glb.clouddn.com/tag.png"/> Link 2
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="http://7xozg6.com1.z0.glb.clouddn.com/tag.png"/> Link 3
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <nav class="navbar-right">
            <ul class="menu">
                <li>
                    <a href="/message"><img src="http://7xozg6.com1.z0.glb.clouddn.com/message.png"> Message</a>
                </li>
                <li>
                    <a href="/about"><img src="http://7xozg6.com1.z0.glb.clouddn.com/me.png"> About</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
